.hamburger-icon {
    position: fixed;
    top: 8px;
    left: 15px;
    z-index: 4;
    cursor: pointer;
}

    .hamburger-icon i {
        color: #FF9900;
        font-size: 38px;
    }

.hidden {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu-content-sidebar {
    flex-grow: 1;
    margin-top: 80px;
    text-align: center;
}

.donate-container {
    margin-top: auto;
    text-align: center;
}

.sidebar.open {
    width: calc(60vw);
    border-right: 1px solid #FF9900;
}

@media (min-width: 641px) {
    .sidebar.open {
        width: 250px;
    }
}

.btn-close {
    font-size: 1.2rem;
    color: #FF9900;
}

/* Menu header (close button area) styling when open/closed states are toggled */
.menu-header.hidden {
    display: none
}
