.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
}

.auth-container-support {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
}

.auth-card {
    background-color: #f8f9fa;
    border: 2px solid #FF9900;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

.auth-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.auth-description {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
    text-align: center;
}

.auth-description-support {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
    text-align: start;
}

.auth-input {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
}

.auth-error {
    margin-top: 10px;
    font-size: 14px;
}

.custom-button-primary {
    background-color: #FF9900;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

    .custom-button-primary:hover {
        background-color: #cc7a00;
    }
