.button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.button-row-right {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
    width: 100%;
}

.custom-button {
    width: calc(50% - 10px);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.custom-sidebar-button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
}

.custom-button-outline:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
}

.custom-sidebar-button {
    width: calc(80%);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.custom-button-outline {
    color: #FF9900;
    border: 1px solid #FF9900;
    background-color: transparent;
}

.custom-button-cancel {
    width: calc(33.33% - 10px);
    border: 1px solid red;
    background-color: transparent;
    color: red;
}

.custom-button-camera {
    width: 50px;
    border: 1px solid #FF9900;
    background-color: transparent;
    color: #FF9900;
}

.custom-button-paste {
    width: 50px;
    border: 1px solid #FF9900;
    background-color: transparent;
    color: #FF9900;
}

.custom-button-fill {
    background-color: #007bff;
    color: white;
}

    .custom-button-fill:hover {
        background-color: #0056b3;
    }

.custom-button-outline:hover {
    background-color: #FF9900;
    border-color: #FFFFFF;
    color: #ffffff
}

.custom-button-cancel:hover {
    background-color: red;
    border-color: #FFFFFF;
    color: #ffffff
}

.custom-button-camera:hover {
    background-color: #FF9900;
    border-color: #FFFFFF;
    color: #ffffff
}

.custom-button-paste:hover {
    background-color: #FF9900;
    border-color: #FFFFFF;
    color: #ffffff
}

.custom-button:active {
    transform: translateY(1px);
}

.custom-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.tab-button {
    padding: 5px 20px;
    font-size:12px;
    font-weight: bold;
    border: none;
    background-color: #f8f9fa;
    border-radius: 5px;
    cursor: pointer;
}

    .tab-button.active-tab {
        background-color: #FF9900;
        color: white;
    }

/*Sidebar X in corner*/
.close-button {
    color: #FF9900 !important;
    position: relative;
    top: 15px;
    right: 15px;
}
